a {
    text-decoration: none;
    color: black;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
}

header {
    position: relative;
    top: 20px;
    text-align: center;
    align-items: center;
    margin: 0px 1%;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, rgba(237,245,245,1) 0%, rgba(148,209,226,0.69) 50%, rgba(58,172,207,0.69) 100%);
    height: 170px;
    z-index: -1;
}

header h1 {
    height: auto;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    color: black;
    font-size: 50px;
    text-shadow: 0px 3px 4px rgba(5, 32, 63, 0.5);
}

#nav {
    top: 20px;
    position: relative;
    background: linear-gradient(to right, rgba(237,245,245,1) 0%, rgba(148,209,226,0.69) 50%, rgba(58,172,207,0.69) 100%);
    height: 75px;   
    margin: 0px 1%;
    text-align: center;
    font-family: 'Kaushan Script';
    letter-spacing: 1px;
}

#nav ul {
    list-style-type: none;
    margin: 2px;
    padding: 1px;
}

#nav ul li {
    padding: 15px;
    display: inline-block;
    margin: 1px 15px;
    vertical-align: middle;
    font-weight: bold;
    font-size: 25px;
}

footer {
    position: relative;
    text-align: center;
    height: 120px;
    margin: 0px 1%;
    background: linear-gradient(to right, rgba(237,245,245,1) 0%, rgba(148,209,226,0.69) 50%, rgba(58,172,207,0.69) 100%);
}

footer p {
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    color: black;
    font-size: 20px;
    text-shadow: 0px 3px 4px rgba(5, 32, 63, 0.5);
}

#background-img {
    background-image: url("../images/light.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

#myContent {
    align-content: center;
    text-align: center;
    width: 80%; 
    margin-left: 10%;
    min-height: 600px;
    height: auto;
}

#myContent h3 {
    width: 40%;
    margin-left: 30%;
    color: black;
}

#myContent a {
    position: relative;
    top: 100px;
    margin: 30px;
    padding: 30px;
    font-weight: bolder;
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 1px;
    height: 30px;
    width: 20%;
    border-radius: 10px;
    transition: 1.5s ease;
}

#myContent a:hover {
    text-decoration: none;
    background-color: rgba(58,172,207,0.6);
    color: black;
}

.masonry { /* Masonry container */
    column-count: 4;
    column-gap: 1em;
}

.item { /* Masonry bricks or child elements */
    background-color: #eee;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}

.masonry .item img {
    max-height: 100%;
    max-width: 100%;
}

@media only screen and (max-width: 800px){

    nav {
        position: relative;
        top: 20px;
        background-color: rgb(255, 255, 255);
        height: 75px;   
        margin: 0px 2%;
        text-align: center;
        font-family: 'Kaushan Script';
        letter-spacing: 1px;
    }
    
    nav ul {
        width: 200px;
        list-style-type: none;
        margin: 2px;
        padding: 1px;
        background: linear-gradient(to right, rgba(237,245,245,0.9) 0%, rgba(237,245,245,0.9) 60%, rgba(148,209,226,1) 100%);
    }
    
    nav ul li {
        padding: 10px;
        display: inline-block;
        margin: 1px 15px;
        vertical-align: middle;
        font-weight: bold;
        font-size: 20px;
    }

    header {
        text-align: center;
        align-items: center;
        margin: 0px 1%;
        display: flex;
        justify-content: center;
        background: linear-gradient(to right, rgba(237,245,245,1) 0%, rgba(148,209,226,0.69) 50%, rgba(58,172,207,0.69) 100%);
        height: 110px;
    }
    
    header h1 {
        height: auto;
        font-family: 'Kaushan Script', cursive;
        text-align: center;
        color: black;
        font-size: 40px;
        text-shadow: 0px 3px 4px rgba(5, 32, 63, 0.5);
    }

    .masonry { /* Masonry container */
        column-count: 2;
        column-gap: 1em;
    }

}